.tech-card {
  background-color: rgba($color: #000000, $alpha: 0.05);
  min-height: 300px;
}

.techs {
  padding: 2rem;

  .lead {
    text-decoration: none;
  }
}

.tech-label {
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .title-1 {
    font-size: 3rem;
  }

  .techs {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
