$light-bg: rgba(255, 255, 255, 0.5);

.about-card {
  width: 75%;
  padding: 2rem;
  border: none;
  background-color: rgba($color: #000000, $alpha: 0.05);

  .bio {
    margin-bottom: 8px;
    color: rgb(76, 103, 99);
    font-size: 1.1rem;
    font-weight: normal;
  }
}

.profile-pic {
  border: 4px solid burlywood;
  padding: 2px;
  border-radius: 50%;
}

.socials {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-block: 8rem;

  .circles {
    margin-top: 2rem;
    display: flex;
    width: 75%;
    justify-content: space-evenly;

    .circle-link {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: $light-bg;
      display: grid;
      place-items: center;

      svg {
        font-size: 8rem;
      }
    }
  }
}

.source-linkedin {
  opacity: 0.75;
}

.testimonial-grid {
  padding-inline: 5rem;
  color: rgb(2, 90, 78);

  .testimonial-card {
    background-color: $light-bg;
    padding: 1em;
    font-size: 15px;
    min-height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    small {
      opacity: 0.75;
      font-size: 0.875rem;
      bottom: 1rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .about-card {
    width: 90%;
    padding: 1rem;

    .bio {
      font-size: 1rem;
    }
  }

  .testimonial-grid {
    padding-inline: 1rem;
  }

  .socials {
    margin-block: 3rem;

    .circles {
      width: 95%;

      .circle-link {
        width: 75px;
        height: 75px;

        svg {
          font-size: 2rem;
        }
      }
    }
  }
}
