.vertical-timeline-element-content {
  box-shadow: none;
  border-radius: 1rem;

  .location {
    font-size: large;
  }

  .stack {
    color: rgb(76, 103, 99);
    font-weight: 500;
    font-size: 15px;
  }

  .description {
    border-left: 2px solid rgba(84, 126, 120, 0.25);
    padding-left: 8px;
    font-size: 15px;
  }
}
