<section id="contact" class="contact">
  <div class="container">
    <div class="section-title">
      <h2>Contact</h2>
      <p>
        Let's catchup anywhere you prefer. I am always open to make new
        friends, share amazing ideas, collaborate on amazing projects and
        much more. In case you are a student or a professional needing any
        sort of help, reach out without hesistation, its makes me happy to
        give back to the community as much as I can.
      </p>
    </div>

    <div class="row" data-aos="fade-in">
      <div class="col-lg-12 d-flex align-items-stretch">
        <div class="info">
          <div class="linkedin mt-3">
            <i class="bx bxl-linkedin"></i>
            <h4>LinkedIn</h4>
            <p>
              <a target="_blank" href="https://www.linkedin.com/in/sameerkumar1612/">Click to visit LinkedIn</a>
            </p>
          </div>

          <div class="github">
            <i class="bx bxl-github text-success"></i>
            <h4>Github</h4>
            <p>
              <a target="_blank" href="https://github.com/sameer1612">Click to visit Github</a>
            </p>
          </div>

          <div class="medium">
            <i class="bx bxl-medium text-dark"></i>
            <h4>Medium</h4>
            <p>
              <a target="_blank" href="https://sameer-kumar-1612.medium.com">Click to visit Medium</a>
            </p>
          </div>

          <div class="email">
            <i class="bi bi-envelope text-danger"></i>
            <h4>Email:</h4>
            <p>
              <a href="mailto:kumar.sam1612@gmail.com">Click to mail me</a>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>