:root {
  --alpha: #f0fdf4;
  --beta: #dcfce7;
  --gamma: #676d68;
  --delta: #525752;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --alpha: #1c1f1d;
    --beta: #1ed760;
    --gamma: #9ea8a0;
    --delta: #f0fdf4;
  }
} */

@theme inline {
  --font-roboto: 'Roboto Variable';
  --font-poppins: 'Poppins';
  --font-montserrat: 'Montserrat Variable';
  --color-alpha: var(--alpha);
  --color-beta: var(--beta);
  --color-gamma: var(--gamma);
  --color-delta: var(--delta);
}

@keyframes bounce-x {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25%);
  }
}

@utility animate-bounce-x {
  animation: bounce-x 1s infinite;
}
