<section id="skills" class="skills section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Skills</h2>
      <p class="mb-3">
        My area of expertise is web development and consulting. I have also
        worked in cross platform app development using flutter and react native.
      </p>
    </div>

    <div class="row skills-content">
      <div class="col-lg-6" data-aos="fade-up">
        <div class="progress">
          <span class="skill">Ruby on Rails</span>
        </div>

        <div class="progress">
          <span class="skill">React/Angular</span>
        </div>

        <div class="progress">
          <span class="skill">Node.js</span>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="progress">
          <span class="skill">JavaScript/TypeScript</span>
        </div>

        <div class="progress">
          <span class="skill">Python</span>
        </div>

        <div class="progress">
          <span class="skill">Dart/React Native</span>
        </div>
      </div>
    </div>
  </div>
</section>