@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'bootstrap-icons/font/bootstrap-icons.min.css';

body {
  background-image: linear-gradient(
    to right top,
    #6dffbf,
    #98feb6,
    #b8fdb1,
    #d2fcb1,
    #e7fbb5,
    #f3f5b6,
    #fbefba,
    #ffeac0,
    #ffe0c5,
    #ffd8d3,
    #ffd4e5,
    #fbd5f7
  );
  font-family: 'Inter';

  @apply min-h-screen;
}

@font-face {
  font-family: 'Acorn';
  src: url('../fonts/acorn/Acorn-Regular.ttf');
}

@font-face {
  font-family: 'Acorn';
  font-weight: bold;
  src: url('../fonts/acorn/Acorn-Bold.ttf');
}

@font-face {
  font-family: 'Acorn';
  font-weight: 500;
  src: url('../fonts/acorn/Acorn-SemiBold.ttf');
}
@font-face {
  font-family: 'Acorn';
  font-weight: 300;
  src: url('../fonts/acorn/Acorn-Light.ttf');
}

@font-face {
  font-family: 'Kalam';
  src: url('../fonts/kalam/Kalam-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/Inter.ttf');
}

.title-1 {
  font-family: 'Acorn';
  @apply text-5xl font-bold lg:text-[8rem];
}

h1 {
  @apply text-4xl font-medium;
}

h3 {
  @apply text-3xl font-medium;
}

h5 {
  @apply text-base font-medium;
}

.title-2 {
  font-family: 'Acorn';
  @apply text-2xl font-medium lg:text-5xl;
}

.font-acorn {
  font-family: 'Acorn';
}

.font-kalam {
  font-family: 'Kalam';
}

.section-title {
  @apply text-5xl font-bold;
}

.card {
  @apply rounded bg-secondary bg-opacity-5;
}
