@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'bootstrap-icons/font/bootstrap-icons.min.css';

body {
  background-image: linear-gradient(
    to right top,
    #6dffbf,
    #98feb6,
    #b8fdb1,
    #d2fcb1,
    #e7fbb5,
    #f3f5b6,
    #fbefba,
    #ffeac0,
    #ffe0c5,
    #ffd8d3,
    #ffd4e5,
    #fbd5f7
  );
  min-height: 100vh;
  font-family: 'Inter';
}

@font-face {
  font-family: 'Acorn';
  src: url('../fonts/acorn/Acorn-Regular.ttf');
}

@font-face {
  font-family: 'Acorn';
  font-weight: bold;
  src: url('../fonts/acorn/Acorn-Bold.ttf');
}

@font-face {
  font-family: 'Acorn';
  font-weight: 500;
  src: url('../fonts/acorn/Acorn-SemiBold.ttf');
}
@font-face {
  font-family: 'Acorn';
  font-weight: 300;
  src: url('../fonts/acorn/Acorn-Light.ttf');
}

@font-face {
  font-family: 'Kalam';
  src: url('../fonts/kalam/Kalam-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/Inter.ttf');
}

.title-1 {
  font-family: 'Acorn';
  font-size: 8rem;
  font-weight: bold;
}

.title-2 {
  font-family: 'Acorn';
  font-size: 3rem;
}

.font-acorn {
  font-family: 'Acorn';
}

.section-title {
  font-weight: bold;
  font-size: 3rem;
}

@media only screen and (max-width: 600px) {
  .title-1 {
    font-size: 3rem;
  }

  .title-2 {
    font-size: 1.5rem;
  }
}
