$primary: rgb(2, 90, 78);
$secondary: rgb(36, 126, 114);

@import 'bootstrap/scss/bootstrap';

body {
  background-image: linear-gradient(
    to right top,
    #6dffbf,
    #98feb6,
    #b8fdb1,
    #d2fcb1,
    #e7fbb5,
    #f3f5b6,
    #fbefba,
    #ffeac0,
    #ffe0c5,
    #ffd8d3,
    #ffd4e5,
    #fbd5f7
  );
  min-height: 99vh;
  font-family: 'Inter';
}

@font-face {
  font-family: 'Acorn';
  src: url('../fonts/acorn/Acorn-Bold.eot');
  src: local('Acorn Bold'), local('Acorn-Bold'), url('../fonts/acorn/Acorn-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/acorn/Acorn-Bold.woff2') format('woff2'), url('../fonts/acorn/Acorn-Bold.woff') format('woff'),
    url('../fonts/acorn/Acorn-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kalam';
  src: url('../fonts/kalam/Kalam-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/Inter.ttf');
}

.title-1 {
  font-family: 'Acorn';
  font-size: 8rem;
}

.title-2 {
  font-family: 'Acorn';
  font-size: 3rem;
}
