<section id="services" class="services">
  <div class="container">
    <div class="section-title">
      <h2>Services</h2>
      <p>
        You can reach out to me for any of the mentioned and beyond. If
        you don't find something you need right here, get it touch, have a
        discussion and experience my skills at the best.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
        <div class="icon"><i class="bi bi-briefcase"></i></div>
        <h4 class="title"><a href="">Enterprise Systems</a></h4>
        <p class="description">
          This is what I am best at. I imagine your business and present
          it in user centric applications as if it were a peice of cake.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
        <div class="icon"><i class="bi bi-card-checklist"></i></div>
        <h4 class="title"><a href="">Company Websites</a></h4>
        <p class="description">
          Every firm needs a window for world to peep into their
          organization and I ensure to make first impressison lasting.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
        <div class="icon"><i class="bi bi-bar-chart"></i></div>
        <h4 class="title"><a href="">Portfolio website</a></h4>
        <p class="description">
          Everyone need a digital presence these days, I can customize it
          to your liking, aka, Website for humans.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
        <div class="icon"><i class="bi bi-binoculars"></i></div>
        <h4 class="title"><a href="">Android & iOS apps</a></h4>
        <p class="description">
          Always been a fan of hybrid application development. My current
          weapon of choice is flutter.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
        <div class="icon"><i class="bi bi-brightness-high"></i></div>
        <h4 class="title"><a href="">Mentorship</a></h4>
        <p class="description">
          Blogging, Video tutorials or be it 1-1 session. If you can ask a
          question, I most certainly can put effort to find answers.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
        <div class="icon"><i class="bi bi-calendar4-week"></i></div>
        <h4 class="title"><a href="">Open source projects</a></h4>
        <p class="description">
          Giving back to community is the kind of charity I believe in. If
          you have an idea to implement, I am just a text away.
        </p>
      </div>
    </div>
  </div>
</section>