<section id="resume" class="resume">
  <div class="container">
    <div class="section-title">
      <h2>Resume</h2>
      <p></p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <h3 class="resume-title">Sumary</h3>
        <div class="resume-item pb-0">
          <h4>Sameer Kumar</h4>
          <p>
            <em>I am a focused and dedicated engineer, who puts his
              knowledge and imagination to use for solving real-world
              problems. I strongly believe that technology is just a tool
              for the execution of the planned solution, hence, ready to
              pick, learn and master any number of them to go on. I tend
              to look at my applications as an end user, to enrich their
              experience while keeping the code clarity and future
              maintainability my priority. I prefer writing semantically
              pleasing self-explanatory codes.
            </em>
          </p>
          <ul>
            <li>Bangaluru, India</li>
            <li>(+91) 8342892982</li>
            <li>kumar.sam1612@gmail.com</li>
          </ul>
        </div>

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Bachelor of Technology</h4>
          <h5>2015 - 2019</h5>
          <p><em>Silicon Institute of Technology, Bhubaneswar</em></p>
          <p>
            Completed my Bachelor with majors in Computer Science and
            Engineering and project works in field of IOT and Automation,
            which provided me exposure to both worlds Hardware & Software.
            <br />
            During my time at SIT, I participated in many programs to
            teach my juniors on recommendation of college administration
            where I found other half of my passion, Mentorship.
          </p>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>Senior RoR Engineer</h4>
          <h5>2021 - Present</h5>
          <p><em>Sedin Technologies, Chennai, India </em></p>
          <ul>
            <li>
              Working in a Full stack rails application in medical domain.
            </li>
            <li>Worked in cron jobs and in-house mailer system.</li>
            <li>
              Collaborated with overseas client and dev teams to analyze
              and execute priority requirements.
            </li>
            <li>
              Handling platform stability and edge cases for existing
              application.
            </li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Software Engineer</h4>
          <h5>2019 - 2021</h5>
          <p><em>Mindfire Solutions, Bhubaneswar</em></p>
          <ul>
            <li>
              Developed an integrated OCR solution for processing tax
              forms and images.
            </li>
            <li>
              Led image based computation program to find and utlize
              simialarity between images uploaded on various social media
              sites.
            </li>
            <li>
              SPOC for organization wide analytics covering all social
              media platforms.
            </li>
            <li>
              Created and maintained social media comment analysis module
              covering sentiment analysis and classifiers to segregate
              customer base based on various factors.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>