<section id="testimonials" class="testimonials section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Testimonials</h2>
      <p class="text-muted">Sourced from LinkedIn</p>
    </div>

    <div id="carouselExampleCaptions" class="carousel carousel-dark slide " data-bs-ride="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
          aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
          aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
          aria-label="Slide 6"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-caption d-none d-md-block">
            <img src={{testimonials[0].photoUrl}} class="rounded-circle" alt={{testimonials[0].name}}>
            <h4 class="name mt-2">{{testimonials[0].name}}</h4>
            <p class="name"></p>
            <p class="text-secondary">
              {{testimonials[0].message}}
            </p>
          </div>
        </div>
        <div class="carousel-item" *ngFor="let testimonial of testimonials.slice(1)">
          <div class="carousel-caption d-none d-md-block">
            <img src={{testimonial.photoUrl}} class="rounded-circle" alt={{testimonial.name}}>
            <h4 class="name mt-2">{{testimonial.name}}</h4>
            <p class="name">{{testimonial.about}}</p>
            <p class="text-secondary">
              {{testimonial.message}}
            </p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>